@import url('https://rickandmortyapi.com/api/character/?page=8');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
    align-items: center;
    
    font-family: 'Comforter Brush', cursive;
    font-family: 'Shadows Into Light', cursive;
}
header{
    display: flex;
    width: 100%;
    height: 10%;
    flex-direction: column;
    align-items: center;
    background-color: #df4d49;
}
select{
    background-color: #eff3f5;
}
main{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding:20px;
    justify-content: center;
}
div{
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    margin: 50px 50px 80px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #eff3f5;
}
